.menu-h ul{
    list-style: none;
    padding: 0 25%;
    background-color: #4169E1;   
  }
  
  .menu-h ul li{
    display: inline;
  }
  
  .menu-h ul li a{
    color: #ADD8E6;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background ,2s; 
  }
  
  .menu-h ul li a:hover{
    background-color: #6495ED;
    
  }